body {
    background: #005BBB;
}
img.home-logo {
    padding: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.buttons {
    display: flex;
    text-align: center;
    padding: 2rem;
    color: white;
    font-size: 2rem;
    font-family: montserrat;
    
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: #002F56;
    height: 5rem;
    width: 11rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login:hover {
    cursor: pointer;
    background-color: #2F9FD0;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    background-color: #002F56;
    height: 5rem;
    width: 11rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.register:hover {
    cursor: pointer;
    background-color: #2F9FD0;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    background-color: #006570;
    height: 5rem;
    width: 16rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rating:hover {
    cursor: pointer;
    background-color: #00a69c;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    height: 5rem;
    width: 16rem;
}

.search-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    justify-content: center;
    color:white;
    margin-top: 7rem; 
    font-family: montserrat;
}

.search-bar {
    background-color: white;
    color: black;
    width: 40rem;
    height: 2.5rem;
    border-radius: 20px;
    font-family: montserrat;
    padding-left: 15px;
    margin-right: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-and-find {
    display: flex;
    justify-content: center;
}

.find-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F9FD0;
    border-radius: 20px;
    font-size: 0.8rem;
    width: 5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.find-button:hover {
    cursor: pointer;
}

.description {
    padding-bottom: 1rem;
}

textarea, input{
    outline: none;
    border: none;
}

input::placeholder   {
    color: #D2D2D2;
}

a {
    color: white;
    text-decoration: none;
}

.card {
    font-family: montserrat;
    background-color: #E4E4E4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;/* From the Figma */
    min-height: 192px;
    max-width: 1200px;
    /* Center the DIV */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-top: 2rem;
}

.card-item {
    float: left;
    text-align: center;
}
.card-item-comment {
    float: left;
}

.box {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    background-color: white;
    text-align: center;
    margin: 1rem;
    position: relative;
}
.comments {
    height: 100px;
    width: auto;
    min-width: 700px;
    border-radius: 25px;
    background-color: white;
    margin-left: 1rem;
}
.box-values {
    position: absolute;
    top: 15%;
    left: 55%;
    /* centering box values */
    transform: translate(-85%, -45%);
    font-size: 2rem;
}

.comment-title{
    padding-left: 1rem;
}

.comment-content {
    padding: 1.15rem;
}

.card-header {
    padding-left: 1rem;
}

