{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/style.css') }}">
{% endblock css %}

{% block body %}
    <div class="header">
        <img class ="home-logo" src="{{ url_for('static', filename='images/rmc-logo.svg') }}">
        <div class="buttons">
            {% if is_authed %}
            <!--link to rating page-->
            <a href="{{ url_for('rating_page')}}">
                <div class="rating">Post a Rating</div>
            </a>
            <!--logout button-->
            <a href="{{ url_for('logout')}}">
                <div class="rating">Logout</div>
            </a>
            {% else %}
            <!--link to login page-->
            <a href = "{{ url_for('login_page')}}">
                <div class="login">Login</div>
            </a>
            <!--link to register page-->
            <a href="{{ url_for('register_page')}}">
                <div class="register">Register</div>
            </a>
            {% endif %}
        </div>
    </div>

    <div class="search-element"> 
        <div class="description"> 
            Find detailed feedback from other students <br> about ALL of your classes! 
        </div>
        <div class="search-and-find">
            <input class="search-bar" placeholder="Enter the course code or name"></input>
            <div class="find-button">Find it!</div>
        </div>
    </div>
{% endblock %}