{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/rating.css') }}">
{% endblock css %}

{% block body %}
    <div class="header">
        <img class ="home-logo" src="{{ url_for('static', filename='images/rmc-logo.svg') }}">
        <div class="buttons">
            {% if is_authed %}
            <!--link to rating page-->
            <a href="{{ url_for('rating_page')}}">
                <div class="rating">Post a Rating</div>
            </a>
            <!--logout button-->
            <a href="{{ url_for('logout')}}">
                <div class="rating">Logout</div>
            </a>
            <div class="welcome">Welcome back {{username}}!</div>
            {% else %}
            <!--link to login page-->
            <a href = "{{ url_for('login_page')}}">
                <div class="login">Login</div>
            </a>
            <!--link to register page-->
            <a href="{{ url_for('register_page')}}">
                <div class="register">Register</div>
            </a>
            {% endif %}

            
        </div>
        
    </div>

    <!-- <div class="search-element"> 
        <div class="description"> 
            Find detailed feedback from other students <br> about ALL of your classes! 
        </div>
        <div class="search-and-find">
            <input class="search-bar" placeholder="Enter the course code or name"></input>
            <div class="find-button">Find it!</div>
        </div>
    </div> -->

    <div class="header">
        <a href = "url_for('index_page')"><img class ="home-logo" src ="{{ url_for('static', filename='images/rmc-logo.svg') }}" width="300" height="300"></a>
        <form action="/rating" method="post" enctype="application/x-www-form-urlencoded">
            <div class="rating-element"> 
                <div class="rating-text">Create a Rating</div>
                <input class="info" placeholder="Professor" id="rating-form-prof" type="text" name="professor"></input>
                <div class = "value-inputs">
                    <input class="info-values" placeholder="Rating (1-5)" id="rating-form-rating" type="text" name="rating"></input>
                    <input class="info-values" placeholder="Difficulty (1-5)" id="rating-form-diff" type="text" name="difficulty"></input>
                </div>
                <textarea class="info-comment" placeholder="Comments" id="rating-form-comments" type="text" name="comments"></textarea>
                <input type="submit" class="rating" value="Submit"></input>
            </div>
        </form>
    </div>

    <!-- NEW CODE -->
    <div id = "posts-container"></div>
    <!-- END NEW CODE -->

    <!-- {% for post in posts %}
    <div class="card">
        <div class = "card-header">
            <p>
                User:{{post['username']}} &emsp;
                Professor: {{post['professor']}}
            </p>
        </div>
        <div class = "content">
            <div class = "card-item">
                <p>Rating</p>
                <div class = "box">
                    <p class = "box-values">{{post['rating']}}</p>
                </div>
            </div>
            <div class = "card-item">
                <p>Difficulty</p>
                <div class = "box">
                    <p class = "box-values">{{post['difficulty']}}</p>
                </div>
            </div>
            <div class = "card-item-comment">
                <p class = "comment-title">Comments</p>
                <div class = "comments">
                    <p class = "comment-content">{{post['comments']}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %} -->

{% endblock %}