<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" href="static/images/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>Rate My Class</title>
</head>
<body>
    <div class="header">
        <img class ="home-logo" src ="static/images/rmc-logo.svg">
        <div class="buttons">
            <a href="rating.html">
                <div class="rating">Post a Rating</div>
            </a>
            <a href = "login.html">
                <div class="login">Login</div>
            </a>
            <a href="register.html">
                <div class="register">Register</div>
            </a>
        </div>
    </div>

    <div class="search-element"> 
        <div class="description"> 
            Find detailed feedback from other students <br> about ALL of your classes! 
        </div>
        <div class="search-and-find">
            <input class="search-bar" placeholder="Enter the course code or name"></input>
            <div class="find-button">Find it!</div>
        </div>
    </div>
</body>
</html>