<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="rating.css">
    <link rel="icon" href="static/images/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>Rate My Class</title>
</head>
<body>
    <div class="header">
        <a href = "index.html"><img class ="home-logo" src ="static/images/rmc-logo.svg" width="300" height="300"></a>
        <form action="/rating" method="post" enctype="application/x-www-form-urlencoded">
            <div class="rating-element"> 
                <div class="rating-text">Create a Rating</div>
                <input class="info" placeholder="Professor" id="rating-form-prof" type="text" name="professor"></input>
                <div class = "value-inputs">
                    <input class="info-values" placeholder="Rating (1-5)" id="rating-form-rating" type="text" name="rating"></input>
                    <input class="info-values" placeholder="Difficulty (1-5)" id="rating-form-diff" type="text" name="difficulty"></input>
                </div>
                <textarea class="info-comment" placeholder="Comments" id="rating-form-comments" type="text" name="comments"></textarea>
                <input type="submit" class="rating" value="Submit"></input>
            </div>
        </form>
    </div>
</body>
</html>