<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="register.css">
    <link rel="icon" href="static/images/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>Rate My Class</title>
</head>
<body>
    <div class="header">
        <img class ="home-logo" src ="static/images/rmc-logo.svg" width="300" height="300" >
        <div class="register-element"> 
            <div class="register-text">Register</div>
            <input class="info" placeholder="Username"></input>
            <input class="info" placeholder="Password"></input>
            <div class="register">Register</div>
            <div class="have-account">Have an account? Login</div>
        </div>
    </div>
</body>
</html>